# Specify these variables in general .env file in repository's root

# Trilium settings
TRILIUM_ENABLED=true
TRILIUM_SCHEME="http"
TRILIUM_HOST="localhost"
TRILIUM_PORT=8080
TRILIUM_TOKEN="your-trilium-token"
TRILIUM_NOTE_ID_BOOK_ROOT="root-note-id"
TRILIUM_NOTE_ID_BOOKMARKS_URL="url-bookmarks-book-id"
TRILIUM_NOTE_ID_BOOK_NOTES_ALL="all-notes-book-id"
TRILIUM_NOTE_ID_TODO="todo-book-id"

# YDL settings
YDL_ENABLED=true
YDL_V_HOSTS='["host1.com", "host2.net"]'
YDL_S_HOSTS='["host3.org"]'
YDL_DATA_DIRECTORY="/path/to/ydl/data"
YDL_DEFAULT_TIMEOUT=1800
YDL_MAX_TIMEOUT=43200

# Telegraph settings
TELEGRAPH_ENABLED=true
TELEGRAPH_HOSTS='["telegra.ph"]'

# Reminder settings
REMINDER_ENABLED=true
REMINDER_GROQ_API_KEY="your-groq-api-key"
REMINDER_GROQ_MODEL="llama-3.3-70b-versatile"